alert:
  enabled: true
  password: "xxxx xxxx xxxx xxxx"
  recipient: "your_email@gmail.com"
  sender: "your_sender@gmail.com"
camera:
  fov_h: 76
  fov_v: 49
  fps: 30
  image_height: 1080
  image_width: 1920
conf_threshold: 0.7
gimbal_pitch: 0
paths:
  model: models/best.pt
  output_csv: data/detections.csv
  srt: data/Demo_15m90d_Data.srt
  video: data/15m90d.mp4
